.menu {
  gap: 10px;
}

.menu li a {
  border-radius: 0;
  font-weight: 500;
}

.custom-nav-link:hover,.custom-nav-link.active{
    font-weight: 700;
    background: none!important;
    border:1px solid;
    border-radius: 40px;
}
